/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  padding: 0;
  margin: 0;
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0
}

.home-container{
  flex: 1;

  display: flex;
  flex-direction: row;
}



.home-left{
  flex: 1;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}
  .first-container{
    /* flex: 1; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: space-between; */
  }
    .transparent-word{
      font-size: 3vw;
      color: rgba(79, 79, 79, 0.3);
    }
  .second-container{
    /* flex: 1; */
    align-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    line-height:73%;
    color: #4F4F4F;
  }
  .third-container{
    align-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    line-height: 73%;
    color: #4F4F4F;
  }
  .fourth-container{
    align-self: flex-end;
  }

.home-right{
  flex: 1;
  background-color: #00288F;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
  .button-to-projects{
    color: white;

    align-self: flex-end;
    
    display: flex;
    flex-direction: row;

    font-size: 4vw;
  }

@media only screen and (max-width: 720px){
  .home-container{
    flex-direction: column;
  }
}

@media only screen and (max-width: 1079px){
  .transparant-word{
    font-size: 32px;
  }
}